<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button (click)="openUserPreferences()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Forecast
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let f of forecast">
      <kws-daily-forecast
        scale="F"
        [forecasts]="f"
        [iconPaths]="iconMap"
      ></kws-daily-forecast>
    </ion-item>
  </ion-list>
</ion-content>
