<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button (click)="openUserPreferences()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Current Weather
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center>
  <div class="information">
    <div class="city">Madison, WI</div>
    <kws-temperature
      class="primary-value"
      scale="F"
      temperature="{{currentWeather?.temperature}}"
    ></kws-temperature>
  </div>
  <kws-condition
    [condition]="currentWeather?.condition"
    [iconPaths]="iconMap"
  ></kws-condition>
</ion-content>

